.Results {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 50%;
  height: 950px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 10px;
  margin: 20px;
}

li {
  list-style-type: none;
}

.hover:hover {
  background-color: rgba(41, 54, 46, 0.911);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Results {
    width: 90%;
    margin-bottom: 2rem;
  }
}

h2 {
  color: rgb(192, 188, 188);
}
